# w3id.org global rewrites

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^$ https://raw.githubusercontent.com/YOURNAME/university-ontology/main/University.owl [R=302,L]


# special directory redirects due to case insensitive file systems issues
RewriteRule ^AIRO(.*)$ /airo$1
RewriteRule ^ceir(.*)$ /CEIR$1
RewriteRule ^UN(.*)$ /un$1
